/******************* footer *******************/

.footer {
    width: 100%;
}

.footer-contents {
    text-align: center;
    /* padding: 1rem 0; */
    /* background: linear-gradient(0deg, rgba(18, 38, 58, 1) 0%, rgba(244, 237, 234, 1) 100%); */
}

.footer-contents p {
    margin: 0;
    padding: .25rem;
}