/******************* home page *******************/

.home {
    height: 100vh;
    margin-top: 30px; // 88
    display: flex;
    align-items: center;
}

.home-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.home-contents .row:first-child {
    width: 60%;
    padding: 5rem 3rem;
    background-color: gainsboro;
    border-radius: 5px;
}

.home-contents .row:nth-child(2) {
    width: 30%;
    height: 100%;
}

.home-top {
    font-size: 30px;
    margin: 4rem 0;
    border-radius: 15px 30px;
}

.main {
  font-weight: bold;
  font-size: 45px;
  background-color: #12263A;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: -27px 26px 6px 0px rgba(39, 41, 41, 0.3);
  transition: .6s;
}

.row-button .main:hover {
  box-shadow: none;
}

.borders {
  border: 1px solid white;
  padding: 7rem 4rem;
  color: #F45B69;
  font-weight: bold;
  background-color: #12263A;
}

ion-col {
    font-size: 20px;
    background-color: #F4EDEA;
    border: solid 1px #fff;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.8rem 2rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .5s;
}

ion-col:hover {
    -webkit-box-shadow: -27px 26px 6px 0px rgba(39, 41, 41, 0.1);
    -moz-box-shadow: -27px 26px 6px 0px rgba(39, 41, 41, 0.1);
    box-shadow: -27px 26px 6px 0px rgba(39, 41, 41, 0.1);
}


/* iPad portrait */

@media (max-width: 1180px) {
    .home-contents {
        margin-top: 2rem;
        height: 60vh;
        font-size: 20px;
    }
    .home-contents .row:first-child {
        width: 70%;
    }
    ion-col {
        font-size: 18px;
    }
}


/* iPhone 12 Pro */

@media (max-width: 390px) {
    .home,
    .home-contents {
        display: block;
        background-color: gainsboro;
    }
    .home-top {
        margin-bottom: 1rem;
    }
    .home-contents .row:first-child {
        margin-left: .15rem;
    }
    .home-contents .row:first-child,
    .row:nth-child(2) {
        width: 100%;
        padding: 1rem;
    }
    ion-col {
        margin: .25rem 0;
    }
    .row-button #main {
        position: absolute;
        font-size: 25px;
        padding: 2rem;
        margin: 1rem 0;
    }
}