/******************* myaccount: create account *******************/

.create-account {
    margin-top: 88px;
    width: 100vw;
    background-color: rgb(206, 207, 216);
}

.create-account .account-form {
    padding: 1rem;
}

.create-account .account-form h2 {
    margin: 0;
}

.create-account form {
    padding: 0.8rem 1rem 1rem 1rem;
    font-size: 18px;
}

.create-account form section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1.5rem 2.5rem;
    background-color: #F4EDEA;
    border-radius: 5px;
    border: 5px solid white;
}

.create-account form label {
    margin: 5px 0 2px 0;
    font-weight: bold;
}

.create-account form input {
    align-items: center;
    font-size: 15px;
    margin: 3px 0px 15px 0;
    background-color: #fff;
    width: 100%;
    font-size: 16px;
}


/* fix dob space and remove up and down arrows */

.create-account form input::-webkit-outer-spin-button,
.create-account form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.create-account form input:first-child,
.create-account form input[type="number"]:nth-child(2) {
    margin: 3px 10px 15px 0;
}

.multiple-input {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-account form input[type="number"] {
    width: 12%;
}

#phone {
    width: 49%;
}

#ca-submit {
    display: flex;
    justify-content: center;
    margin: 0;
}

#ca-submit input[type="submit"] {
    max-width: 27%;
    margin: 0;
    padding: .25rem;
    background-color: white;
    border: 3px solid #8b9db4;
    transition: .5s;
}

#ca-submit input[type="submit"]:hover {
    border: 3px solid #F45B69;
}

#ca-submit input[type="submit"]:active {
    background-color: #8b9db4;
}

#load {
    padding-top: 60px;
    text-align: center;
}


/******************* myaccount: account *******************/

.myaccount {
    margin: 80px 0;
}

.myaccount h3 {
    padding: 2rem 0 0 4rem;
}

.my-contents {
    display: flex;
    justify-content: center;
    padding: 0 3rem;
}

.myaccount h5 {
    font-weight: bold;
    font-size: 21px;
}

.my-contents section {
    max-width: 95%;
    background-color: #fcf4f4;
    padding: 2rem 2.5rem;
    margin: 1rem;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
    font-size: 16px;
}

.columns {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid #C5D8D1;
}

.bits {
    padding: .25rem 0;
    font-size: 17px;
}

.bits p {
    padding: .5rem 0;
    font-size: 18px;
    line-height: 2rem;
}

#texts p {
  background-color: #dee5ee;
  width: 80%;
  padding: .5rem 1rem;
  border-radius: 10px;
}

.bits:first-child,
.bits:nth-child(3) {
    font-weight: bold;
}

.edit-acc-form .account-form {
    padding-top: 1.5rem;
}

.edit-acc-form #close {
    background-color: rgb(206, 207, 216);
    margin-right: 18rem;
    position: absolute;
    top: 7rem;
}

.list-md {
    margin-left: 1rem;
    padding: 0;
    height: 60vh;
    overflow:visible;
}

ion-list.list-inset  {
    overflow:visible;
    cursor: pointer;
}

.my-contents .active {
    color: #F45B69;
}
 
