.roseQ {
  margin: 3rem;
  padding: 3rem 9rem;
}

.rose-container {
  display: flex;
  flex-direction: column;
}

.rose-question {
  display: flex;
  justify-content: space-between;
}

.roseQ label {
  font-size: 18px;
  line-height: 3rem;
  // margin-right: 7rem;
}

.roseQ select {
  min-width: 100px;
  max-width: 100px;
  max-height: 48px;
  text-align: center;
  margin-left: 1rem;
}

.roseQ p {
  text-align: center;
  color: red;
  margin: 1rem;
}

@media (max-width: 1180px) {
  .roseQ {
    padding: 1rem;
  }
}