* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #F4EDEA;
  overflow-x: none;
}

.submit-btn {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

ion-button {
  --background: #efefef;
  --color: black;
  --border-width: 1px;
  --border-style: solid;
  --border-color: black;
  --background-hover: #F45B69;
  --transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-size: 18px;
}

/******************* nav bar *******************/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.125rem;
  background-color: #1A1E23;
  /*  #5e738d */
  padding: 1.5rem 2rem;
  z-index: 999;
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
}

.navbar-nav a {
  text-decoration: none;
  padding: 1px 5px;
  transition-duration: .5s;
}

.navbar-nav a:hover {
  /* color:#8b9db4; */
  color: #F45B69;
}

.navbar-nav span {
  color: #96989a;
  margin: 0 2px 0 1px;
}

#log-button {
  margin: 0 15px;
  padding: 0 10px;
  color: black;
  background-color: #8b9db4;
  border-radius: 8px;
  transition: .5s;
}

#log-button:hover {
  background-color: #F45B69;
}

#log-button:disabled {
  background-color: #45566c;
}

.navbar-nav .icon {
  margin-left: 6px;
}

#nav-title a {
  position: absolute;
  display: flex;
  left: 25px;
  border: none;
}

#nav-title-acronym {
  margin-left: 15px;
  font-style: italic;
}

/******************* responsive interfaces *******************/
/* lg size breakpoint */
@media (max-width: 991px) {
  .navbar {
    padding-left: 2rem;
  }
  .navbar-nav span {
    display: none;
  }
  .navbar-collapse .navbar-nav {
    position: absolute;
    right: .75rem;
    background-color: #525961c2;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1rem 1rem 1rem 2rem;
    /* margin-top: 1rem; */
  }
  #nav-title-acronym {
    display: none;
  }
  #log-button {
    margin-left: 0;
  }
}

@media (max-width: 690px) {
  nav a {
    padding: 0rem 0.3rem;
  }
}

/* iPhone 12 Pro */
@media (max-width: 390px) {
  nav {
    font-size: 16px;
  }
  nav a {
    padding: 0rem 0.05rem;
  }
}

/******************* footer *******************/
.footer {
  width: 100%;
}

.footer-contents {
  text-align: center;
  /* padding: 1rem 0; */
  /* background: linear-gradient(0deg, rgba(18, 38, 58, 1) 0%, rgba(244, 237, 234, 1) 100%); */
}

.footer-contents p {
  margin: 0;
  padding: .25rem;
}

/******************* home page *******************/
.home {
  height: 100vh;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.home-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.home-contents .row:first-child {
  width: 65%;
  padding: 5rem 3rem;
  background-color: gainsboro;
  border-radius: 5px;
}

.home-contents .row:nth-child(2) {
  width: 30%;
}

.home-top {
  font-size: 30px;
  margin: 4rem 0;
  border-radius: 15px 30px;
}

.row-button #main {
  color: #F45B69;
  background-color: #12263A;
  font-weight: bold;
  font-size: 45px;
  text-align: left;
  padding: 4rem 2rem 4rem 3rem;
  border: none;
  border-radius: 5px;
  box-shadow: -27px 26px 6px 0px rgba(39, 41, 41, 0.3);
  transition: .6s;
}

.row-button #main:hover {
  color: #F45B69;
  box-shadow: none;
}

ion-col {
  font-size: 20px;
  background-color: #F4EDEA;
  border: solid 1px #fff;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.8rem 2rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: .5s;
}

ion-col:hover {
  box-shadow: -27px 26px 6px 0px rgba(39, 41, 41, 0.1);
}

/* iPad portrait */
@media (max-width: 1180px) {
  .home-contents {
    margin-top: 2rem;
    height: 60vh;
    font-size: 20px;
  }
  .home-contents .row:first-child {
    width: 70%;
  }
  ion-col {
    font-size: 18px;
  }
}

/* iPhone 12 Pro */
@media (max-width: 390px) {
  .home,
  .home-contents {
    display: block;
    background-color: gainsboro;
  }
  .home-top {
    margin-bottom: 1rem;
  }
  .home-contents .row:first-child {
    margin-left: .15rem;
  }
  .home-contents .row:first-child,
  .row:nth-child(2) {
    width: 100%;
    padding: 1rem;
  }
  ion-col {
    margin: .25rem 0;
  }
  .row-button #main {
    position: absolute;
    font-size: 25px;
    padding: 2rem;
    margin: 1rem 0;
  }
}

/******************* onboarding *******************/
.onboarding {
  background-color: #C5D8D1;
}

.onboarding-content {
  position: absolute;
  top: 52%;
  left: 50%;
  min-width: 40vw;
  transform: translate(-50%, -50%);
  background-color: #fefdfd;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.close-section {
  display: flex;
  justify-content: flex-end;
}

#close {
  border: none;
  font-size: 22px;
  transition: .5s;
  background-color: #fefdfd;
  line-height: 23px;
}

#close:hover {
  color: #F45B69;
}

#close span {
  font-size: 19px;
  display: flex;
  flex-direction: column;
}

.first-steps {
  border: 1px dashed #f45b684d;
  border-radius: 15px;
  margin: .5rem;
  padding: 1.5rem;
}

.instruction {
  color: black;
  text-align: center;
  margin: 1rem 1.25rem;
}

.response-section {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem 0 1rem 0;
}

.response {
  width: 55%;
  display: flex;
  justify-content: space-evenly;
}

.response-section .response button {
  font-size: 22px;
  color: black;
  border-radius: 15px;
  border: 3px solid #C5D8D1;
  padding: .75rem 1.25rem;
  margin: .5rem;
  transition: .5s;
}

.response-section .response button:hover {
  border: 3px solid #F45B69;
}

.onboarding button:focus {
  outline: none;
}

/******************* baseline: signup/ login *******************/
.account-form h2 {
  text-align: center;
  color: black;
}

.account-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-form form input {
  margin: .75rem .25rem;
  width: 60%;
  padding: .75rem .5rem;
  border-radius: 8px;
  border: 1px solid #C5D8D1;
}

.account-form form input[type=submit] {
  width: 40%;
  font-size: 20px;
  border-radius: 10px;
  border: 3px solid #8b9db4;
  margin: 0;
  margin-top: 1rem;
  padding: .25rem;
  transition: .5s;
}

.account-form form input[type=submit]:hover {
  border: 3px solid #F45B69;
}

#center {
  display: flex;
  justify-content: center;
}

hr {
  width: 80%;
}

/******************* myaccount: create account *******************/
.create-account {
  margin-top: 88px;
  width: 100vw;
  background-color: #cecfd8;
}

.create-account .account-form {
  padding: 1rem;
}

.create-account .account-form h2 {
  margin: 0;
}

.create-account form {
  padding: 0.8rem 1rem 1rem 1rem;
  font-size: 18px;
}

.create-account form section {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1.5rem 2.5rem;
  background-color: #F4EDEA;
  border-radius: 5px;
  border: 5px solid white;
}

.create-account form label {
  margin: 5px 0 2px 0;
  font-weight: bold;
}

.create-account form input {
  align-items: center;
  font-size: 15px;
  margin: 3px 0px 15px 0;
  background-color: #fff;
  width: 100%;
  font-size: 16px;
}

/* fix dob space and remove up and down arrows */
.create-account form input::-webkit-outer-spin-button,
.create-account form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.create-account form input:first-child,
.create-account form input[type="number"]:nth-child(2) {
  margin: 3px 10px 15px 0;
}

.multiple-input {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.create-account form input[type="number"] {
  width: 12%;
}

#phone {
  width: 49%;
}

#ca-submit {
  display: flex;
  justify-content: center;
  margin: 0;
}

#ca-submit input[type="submit"] {
  max-width: 27%;
  margin: 0;
  padding: .25rem;
  background-color: white;
  border: 3px solid #8b9db4;
  transition: .5s;
}

#ca-submit input[type="submit"]:hover {
  border: 3px solid #F45B69;
}

#ca-submit input[type="submit"]:active {
  background-color: #8b9db4;
}

#load {
  padding-top: 60px;
  text-align: center;
}

/******************* myaccount: account *******************/
.myaccount {
  margin: 80px 0;
}

.myaccount h3 {
  padding: 2rem 0 0 4rem;
}

.my-contents {
  display: flex;
  justify-content: center;
  padding: 0 3rem;
}

.myaccount h5 {
  font-weight: bold;
  font-size: 21px;
}

.my-contents section {
  max-width: 95%;
  background-color: #fcf4f4;
  padding: 2rem 2.5rem;
  margin: 1rem;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
  font-size: 16px;
}

.columns {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 1px solid #C5D8D1;
}

.bits {
  padding: .25rem 0;
  font-size: 17px;
}

.bits p {
  padding: .5rem 0;
  font-size: 18px;
  line-height: 2rem;
}

#texts p {
  background-color: #dee5ee;
  width: 80%;
  padding: .5rem 1rem;
  border-radius: 10px;
}

.bits:first-child,
.bits:nth-child(3) {
  font-weight: bold;
}

.edit-acc-form .account-form {
  padding-top: 1.5rem;
}

.edit-acc-form #close {
  background-color: #cecfd8;
  margin-right: 18rem;
  position: absolute;
  top: 7rem;
}

.list-md {
  margin-left: 1rem;
  padding: 0;
  height: 60vh;
  overflow: visible;
}

ion-list.list-inset {
  overflow: visible;
  cursor: pointer;
}

.my-contents .active {
  color: #F45B69;
}

/******************* chatbot *******************/
.chatbot .container {
  position: absolute;
  top: 10vh;
}

.chatbot .row {
  width: 100vw;
  padding: .75rem;
}

img {
  width: 46px;
  margin: 0;
}

.display-symptoms {
  height: 85vh;
  padding: .75rem;
  border-radius: 10px;
}

.symptoms h4 {
  font-weight: bold;
}

#total {
  font-size: 17px;
}

#symptom {
  font-size: 20px;
  font-weight: bold;
}

.symptoms ol {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.symptoms li {
  background-color: #C5D8D1;
  padding: .5rem .75rem;
  margin: .3rem;
  width: fit-content;
  border-radius: 15px;
  font-size: 18px;
}

.chatbot-btns {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chatbot-btn1 {
  font-weight: bold;
  font-size: 20px;
  background-color: #F4EDEA;
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
  transition: .5s;
}

.chatbot-btn1:hover {
  color: #F45B69;
}

/******************* eq5d *******************/
.eq5d .container {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cecfd8;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px;
}

.eq5d h5 {
  font-weight: bold;
}

.boxes {
  height: fit-content;
  width: 55%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #F4EDEA;
}

.descriptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding-right: 2rem;
  line-height: 2.25rem;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.3);
}

.descriptions:hover {
  border-radius: 5px;
}

.sections {
  border: 2px solid #697380;
  border-radius: 10px;
  padding: 1rem;
}

.mobility h5 {
  color: #366697;
}

.mobility .descriptions:hover {
  background-color: #3667974b;
}

.self-care h5 {
  color: #F45B69;
}

.self-care .descriptions:hover {
  background-color: #f45b685e;
}

.activities h5 {
  color: #689986;
}

.activities .descriptions:hover {
  background-color: #C5D8D1;
}

.discomfort h5 {
  color: purple;
}

.discomfort .descriptions:hover {
  background-color: rgba(128, 0, 128, 0.2);
}

.anxiety h5 {
  color: #FF785A;
}

.anxiety .descriptions:hover {
  background-color: #ff785a5f;
}

.activities i {
  font-weight: normal;
  font-size: 17px;
}

.user-eq5d {
  font-size: 18px;
}

.user-eq5d ul {
  line-height: 2rem;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.user-eq5d li {
  margin: .75rem 1rem;
  padding: .5rem .9rem;
  width: 100%;
  border-radius: 5px;
}

.user-eq5d li:first-child {
  background-color: #3667974b;
}

.user-eq5d li:nth-child(2) {
  background-color: #f45b685e;
}

.user-eq5d li:nth-child(3) {
  background-color: #C5D8D1;
}

.user-eq5d li:nth-child(4) {
  background-color: rgba(128, 0, 128, 0.2);
}

.user-eq5d li:nth-child(5) {
  background-color: #ff785a5f;
}

/******************* eq5d: user responses *******************/
.eq5dResponses {
  margin-top: 90px;
  padding: 1rem;
  font-size: 18px;
}

.react-datepicker__day--disabled {
  cursor: not-allowed;
}

.eq5dResponses ul {
  line-height: 2rem;
  padding-left: 0;
  list-style-type: none;
}

.eq5dResponses li {
  margin: .75rem 0;
  padding: .5rem .9rem;
  width: 584px;
  border-radius: 5px;
}

.eq5dResponses li:first-child {
  background-color: #3667974b;
}

.eq5dResponses li:nth-child(2) {
  background-color: #f45b685e;
}

.eq5dResponses li:nth-child(3) {
  background-color: #C5D8D1;
}

.eq5dResponses li:nth-child(4) {
  background-color: rgba(128, 0, 128, 0.2);
}

.eq5dResponses li:nth-child(5) {
  background-color: #ff785a5f;
}

.selectors #back-btn {
  float: right;
  margin-right: 2rem;
}

#edit-btn {
  display: flex;
  justify-content: start;
  margin-top: 2rem;
}

@media (max-width: 1180px) {
  .user-eq5d ul {
    line-height: 1.75rem;
  }
  .user-eq5d li {
    margin: 0 .25rem;
  }
}

.phq4 {
  margin: 1rem 0;
  font-size: 18px;
}

.phq4 th {
  text-align: center;
}

th:first-child {
  text-align: left;
}

.phq4 th {
  width: 11%;
}

.phq4 th:first-child {
  width: 46%;
}

.phq4 tbody td:first-child {
  width: 5%;
  text-align: center;
}

.phq4 td button {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
}

.phq4 td button:hover {
  background-color: aliceblue;
}

.phq4 tfoot td {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border: 3px solid white;
  background-color: #fcf4f4;
}

.phq4 p {
  color: green;
  text-align: center;
  margin: 1rem;
}

.roseQ {
  margin: 3rem;
  padding: 3rem 9rem;
}

.rose-container {
  display: flex;
  flex-direction: column;
}

.rose-question {
  display: flex;
  justify-content: space-between;
}

.roseQ label {
  font-size: 18px;
  line-height: 3rem;
}

.roseQ select {
  min-width: 100px;
  max-width: 100px;
  max-height: 48px;
  text-align: center;
  margin-left: 1rem;
}

.roseQ p {
  text-align: center;
  color: red;
  margin: 1rem;
}

@media (max-width: 1180px) {
  .roseQ {
    padding: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */